* {
    box-sizing: border-box;
  }
  
  body {
    width: 80%;
    margin: auto;
    font-family: "Open Sans",
    sans-serif; 
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1.3;
    background: black;
  }
/*all links*/
a{
text-decoration: none;
color: whitesmoke
}
a:hover{
  color: black;
}

  header,nav{
    width:100%;
    color: #f2f2f2;
    border-bottom: 2px solid whitesmoke;
    position: relative;
    z-index: 2;
  }

  .name-and-title{
    font-size: 8px;
  }

  .name-and-title h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 4s steps(60, end),
      blink-caret .75s step-end infinite;
  }
  .type-box{
    width: 200px;
    word-wrap: break-word;
    margin: auto;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

/*name and title: banner*/
  header {
    padding: 0.6rem;
  }
/*nav links*/
  span{
    padding: 0 5px;
  }
  .nav-wrapper{
    box-sizing: border-box;
      margin: 0;
      padding: 0;
      width: 100%;
      height: auto;
      /* background: url("./imgs/office.png"); */
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
  }
  .nav-wrapper::after{
      color:#000000ac;
       width: 100%;
       height: 100%;
       position: absolute;
       content: '';
       top: 0;
       left:0;
       background: #000000ac;
       z-index: 1;
  }
  
/*havent added pic yet still working it*/
.background-image{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    /* background: url("./imgs/coding.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.background-image::after{
    color: rgba(85, 85, 85, 0.33);
     width: 100%;
     height: 100%;
     position: absolute;
     content: '';
     top: 0;
     left:0;
     background: rgba(249, 249, 249, 0.372);
     z-index: 1;
}
/*main content wrapper aboubt me and projects*/

  #main-wrapper{
    font-size: 12px;
    width:100%;
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(400px,auto);
  }
/*sections about me and projects*/
  .box-1,.box-2,.box-3,.box-4{
    font-size: 16px;
    color: #f2f2f2;
    margin: 10px auto 10px auto;
    padding: 0.5rem;
    background-color: #000000ac;
  }

  .project-description{
    text-align: left;
  }
  /*TITLE DESCRIP STACK AND LINKS COLOR */
  .tdsl{
    margin: 0;
    color: rgb(255, 135, 79);
background: #666666;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
/* text-shadow: 0px 2px 2px rgba(255,255,255,0.5); */
  }
  /*all images*/
  img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  /*about me*/
  .about-me,.about-me-para{
    margin: 0;
    padding: 0.5rem;
  }
/*all paragraphs*/
  p{
    margin: 0;
    padding: 0.5rem;
  }
/*box four pics of tech*/
  .list-of-tech{
    width: 100%;
    height: auto;
  }
  /*image wrappers*/
  .tech-imgs{
    display: inline-block;
    width: 75px;
    height: 75px;
  }
/*tech images*/
.img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.box-1  p {
  text-align: left;
}


footer {
  color: white;
    width: 100%;
    padding: 1rem;
   border-top: 2px solid black;
  }
  
/************MEDIA QUERIES******************/
@media (min-width: 400px){
  .name-and-title{
    font-size: 12px;
  }
  .type-box{
    width: 300px;
    
    margin: auto;
  }
  #main-wrapper{
    font-size: 14px;
  }
}

@media (min-width: 500px){
  .name-and-title{
    font-size: 12px;
  }
  .type-box{
    width: 300px;
    
    margin: auto;
  }
  #main-wrapper{
    font-size: 1rem;
  }
}

@media (min-width: 650px){
  .nav-links-wrapper{
    font-size: 18px;
  }

  .name-and-title{
    font-size: 12px;
  }
  .type-box{
    width: 300px;
    margin: auto;
  }
  #main-wrapper{
    font-size: 20px;
  }
  .tech-imgs{
    display: inline-block;
    width: 100px;
    height: 100px;
  }

}

@media (min-width: 900px){
  .box-1,.box-2,.box-3,.box-4{
  
    margin: 1rem;
   
  }
  #main-wrapper{
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(400px,auto);
  }
}

@media (min-width: 1024px){
  .nav-links-wrapper{
    font-size: 24px;
  }

  .name-and-title{
    font-size: 1rem;
  }

  .type-box{
    width: 400px;
    margin: auto;
  }
  .tech-imgs{
    display: inline-block;
    width: 150px;
    height: 150px;
  }
}

 

  