* {
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: auto;
  font-family: "Open Sans",
    sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1.3;
  background: black;
}

header,
nav {
  width: 100%;
  color: #f2f2f2;
  border-bottom: 2px solid whitesmoke;
}

h1,h2{
  font-size: 1rem;
}

/*links*/
a {
  font-size: 12px;
  padding: 0.5rem;
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  color: black;
}

/*office image*/
.nav-wrapper {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  /* background: url("./imgs/office.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-wrapper::after {
  color: #000000ac;
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: #000000ac;
  z-index: 1;
}

.img-wrapper {
  position: relative;
  z-index: 2;
}

/*main content img*/
.background-image {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  /* background: url("./imgs/coding.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.background-image::after {
  color: #000000ac;
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: #000000ac;
  z-index: 1;
}

/*intro pic*/
.intro {
  display: none;
  width: 300px;
  height: auto;
  margin: auto;
  position: relative;
  z-index: 2;
}

/*display grid container*/
.project-wrapper {
  width: 100%;
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(400px, auto);
}

/*project boxes*/
.box-2,
.box-3 {
  font-size: 12px;
  color: #f2f2f2;
  margin: 10px auto 10px auto;
  padding: 0.5rem;
  background-color: #000000ac;
}

.project-description{
  text-align: left;
}

/*need to change image size as it breaks screen*/
.project-img1,
.project-img2 {
  min-width: 200px;
  height: auto;
  margin: auto;
}

/*all project imgs*/
img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

/*title descrip stack links*/
.tdsl {
  margin: 0;
  color: rgb(255, 135, 79);
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  /* text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.5); */
}




footer {
  color: white;
  border-top: 2px solid black;
}

@media (min-width: 375px) {
  a {
    font-size: 1rem;
  }

  h1,
  h2 {
    font-size: 1.2rem;
  }
  .box-2,
.box-3 {
  font-size: 1rem;
}
}

@media (min-width: 768px){
  a {
    font-size: 1.2rem;
  }

  h1,
  h2 {
    font-size: 1.4rem;
  }
  .box-2,
.box-3 {
  font-size: 1.2rem;
}
}

@media (min-width: 900px){
  .box-2,
.box-3 {

  margin: 1rem;
}
  .project-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(400px, auto);
  }
}
